 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Programmyst-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  font-size: 3.125rem;
  font-weight: 700;
  width: 524px;
  margin: 135px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 541px;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0 387px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -35px 351px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: 448px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 187px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 151px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 117px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: auto;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
    margin-top: 97px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-shape-1 {
  width: 179px;
  height: 174px;
  margin: 509px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1161px;
  margin: -524px -21px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 754px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 511px;
  height: 444px;
  margin: 62px auto 0 16px;
}

.u-section-2 .u-image-2 {
  width: 329px;
  height: 311px;
  object-position: 50% 0%;
  margin: -258px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 185px;
  height: auto;
  min-height: 80px;
  margin: -505px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: -10px -15px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 -15px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 754px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 85px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-text-3 {
  margin: 100px 24px 0 -24px;
}

.u-section-2 .u-text-4 {
  margin: 24px 124px 0 -24px;
}

.u-section-2 .u-text-5 {
  margin: 14px 24px 0 -24px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 32px 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 408px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -222px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 313px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -127px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 296px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -110px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-3 .u-text-2 {
  width: 653px;
  margin: 22px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 297px;
  width: 1140px;
  margin: 67px auto 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 62px 62px;
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-group-1 {
  width: 244px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 98px;
  height: auto;
  margin: -49px auto 0 58px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 98px;
  height: auto;
  width: 244px;
  margin: -98px 436px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-group-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 98px;
  height: auto;
  width: 244px;
  margin: -98px 40px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  margin: 20px -40px 60px auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 146px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-3 .u-gallery-1 {
    height: 245px;
    width: 940px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-group-1 {
    margin-top: 3px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-3 .u-gallery-1 {
    height: 563px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 267px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1973px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1267px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-2 {
    margin-right: 296px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 798px;
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 96px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 687px;
}

.u-section-4 .u-group-1 {
  width: 785px;
  min-height: 491px;
  height: auto;
  margin: 98px -98px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 65px auto 0 142px;
}

.u-section-4 .u-text-2 {
  width: 440px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 65px 471px 0 130px;
}

.u-section-4 .u-text-4 {
  font-size: 0.75rem;
  margin: 5px auto 0 130px;
}

.u-section-4 .u-image-1 {
  width: 348px;
  height: 397px;
  margin: -444px auto 60px 176px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 369px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 87px;
  }

  .u-section-4 .u-text-2 {
    width: 320px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 197px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 388px;
    margin-left: 0;
  }
} .u-section-5 {
  min-height: 1245px;
}

.u-section-5 .u-image-1 {
  min-height: 490px;
  background-image: url("images/31aa2e92e1e63ac0499923fc53d67d98f5f1952aaa206d08ccd7795c26638b23ecd1ae189d70755cb870f85ec8cbd0f0cc3da0a7988038c2f070b6_1280.jpg");
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 654px;
  margin: 110px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 55px auto 0 calc(((100% - 1140px) / 2) + 42px);
  padding: 13px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 473px);
  padding: 13px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px calc(((100% - 1140px) / 2) + 220px) 0 auto;
  padding: 13px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 41px calc(((100% - 1140px) / 2) + 441px) 0 calc(((100% - 1140px) / 2) + 463px);
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: -24px calc(((100% - 1140px) / 2) + 52px) 0 calc(((100% - 1140px) / 2) + 856px);
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: -24px calc(((100% - 1140px) / 2) + 849px) 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-5 .u-text-5 {
  margin: 13px calc(((100% - 1140px) / 2) + 407px) 0 calc(((100% - 1140px) / 2) + 463px);
}

.u-section-5 .u-text-6 {
  margin: -63px calc(((100% - 1140px) / 2) + 14px) 0 calc(((100% - 1140px) / 2) + 856px);
}

.u-section-5 .u-text-7 {
  margin: -63px calc(((100% - 1140px) / 2) + 824px) 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: none;
  margin: 30px calc(((100% - 1140px) / 2) + 824px) 0 calc(((100% - 1140px) / 2) + 42px);
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -12px auto 0 calc(((100% - 1140px) / 2) + 473px);
  padding: 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -23px calc(((100% - 1140px) / 2) + 171px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 104px;
    margin-left: calc(((100% - 940px) / 2) + 270px);
  }

  .u-section-5 .u-icon-1 {
    margin-top: 76px;
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-5 .u-icon-2 {
    margin-left: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 940px) / 2) + 220px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 42px;
    margin-right: calc(((100% - 940px) / 2) + 341px);
    margin-left: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -30px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 708px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -90px;
    margin-right: calc(((100% - 940px) / 2) + 691px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-top: 55px;
    margin-right: calc(((100% - 940px) / 2) + 307px);
    margin-left: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-5 .u-text-6 {
    margin-top: -141px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 670px);
  }

  .u-section-5 .u-text-7 {
    margin-top: -9px;
    margin-right: calc(((100% - 940px) / 2) + 666px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 666px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2) + 273px);
  }

  .u-section-5 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 207px);
  }

  .u-section-5 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-5 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 220px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 231px);
    margin-left: calc(((100% - 720px) / 2) + 253px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 488px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 471px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 197px);
    margin-left: calc(((100% - 720px) / 2) + 253px);
  }

  .u-section-5 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 450px);
  }

  .u-section-5 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 446px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2) + 446px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2) + 53px);
  }

  .u-section-5 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 155px);
    width: 540px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 97px;
    margin-left: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-5 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 165px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 141px);
    margin-left: calc(((100% - 540px) / 2) + 163px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -51px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 308px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -69px;
    margin-right: calc(((100% - 540px) / 2) + 291px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-top: 34px;
    margin-right: calc(((100% - 540px) / 2) + 107px);
    margin-left: calc(((100% - 540px) / 2) + 163px);
  }

  .u-section-5 .u-text-6 {
    margin-top: -120px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-5 .u-text-7 {
    margin-top: -30px;
    margin-right: calc(((100% - 540px) / 2) + 266px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2) + 266px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 98px);
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 118px;
    margin-left: calc(((100% - 340px) / 2) + 42px);
  }

  .u-section-5 .u-icon-2 {
    margin-left: calc(((100% - 340px) / 2) + 141px);
  }

  .u-section-5 .u-icon-3 {
    margin-right: calc(((100% - 340px) / 2) + 104px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 41px);
    margin-left: calc(((100% - 340px) / 2) + 63px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -72px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 108px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -48px;
    margin-right: calc(((100% - 340px) / 2) + 91px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-top: 13px;
    margin-right: calc(((100% - 340px) / 2) + 7px);
    margin-left: calc(((100% - 340px) / 2) + 63px);
  }

  .u-section-5 .u-text-6 {
    margin-top: -99px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 70px);
  }

  .u-section-5 .u-text-7 {
    margin-top: -51px;
    margin-right: calc(((100% - 340px) / 2) + 66px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2) + 66px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 620px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 147px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 293px;
  grid-gap: 24px 24px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-1 {
  height: 62px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 15px 8px 0 -8px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-2 {
  height: 62px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 15px 8px 0 -8px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-3 {
  height: 62px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 15px 8px 0 -8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 239px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 583px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 587px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 78px auto 0 424px;
}

.u-section-7 .u-image-1 {
  width: 292px;
  height: 175px;
  margin: 81px 113px 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 26px;
  height: auto;
  width: 57px;
  margin: -164px 337px 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 0.75rem;
  margin: 2px auto 0;
}

.u-section-7 .u-image-2 {
  width: 292px;
  height: 175px;
  margin: -37px auto 0 45px;
}

.u-section-7 .u-group-2 {
  width: 57px;
  min-height: 26px;
  height: auto;
  margin: -164px auto 0 62px;
}

.u-section-7 .u-text-3 {
  font-size: 0.75rem;
  margin: 2px auto 0;
}

.u-section-7 .u-image-3 {
  width: 292px;
  height: 175px;
  margin: -37px auto 0 399px;
}

.u-section-7 .u-group-3 {
  min-height: 26px;
  height: auto;
  width: 57px;
  margin: -164px auto 0 424px;
}

.u-section-7 .u-text-4 {
  font-size: 0.75rem;
  margin: 2px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 155px 428px 0 399px;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: -75px 803px 0 45px;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: -38px 63px 0 736px;
}

.u-section-7 .u-image-4 {
  width: 29px;
  height: 29px;
  margin: 8px auto 0 45px;
}

.u-section-7 .u-image-5 {
  width: 29px;
  height: 29px;
  margin: -29px 375px 0 auto;
}

.u-section-7 .u-text-8 {
  font-size: 0.75rem;
  margin: -20px auto 0 91px;
}

.u-section-7 .u-text-9 {
  font-size: 0.75rem;
  margin: -19px 149px 0 auto;
}

.u-section-7 .u-image-6 {
  width: 29px;
  height: 29px;
  margin: -16px auto 0 399px;
}

.u-section-7 .u-text-10 {
  font-size: 0.75rem;
  margin: -24px auto 60px 442px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 349px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }

  .u-section-7 .u-group-3 {
    height: auto;
  }

  .u-section-7 .u-text-5 {
    margin-right: 328px;
    margin-left: 299px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 649px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 598px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 267px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 218px;
    margin-left: 189px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 429px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 378px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 200px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 248px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 128px;
    margin-left: 99px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 249px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 198px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 126px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 48px;
  }

  .u-section-7 .u-group-1 {
    margin-right: 283px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 48px;
  }

  .u-section-7 .u-group-3 {
    margin-left: 283px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 49px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-image-5 {
    margin-right: 311px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 0;
    margin-right: 94px;
  }

  .u-section-7 .u-image-6 {
    margin-top: -35px;
    margin-left: 311px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 132px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/61964bd65d002d6841ceae013d21a839e4ee5da5528bec4c84a487d9729bcccf55705fbc86b842caf1d0bb90310c41fc5711a833a0b4fc25623f6a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 548px;
}

.u-section-8 .u-text-1 {
  width: 570px;
  margin: 93px auto 0;
}

.u-section-8 .u-text-2 {
  margin: 67px 216px 0 264px;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 75px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 179px;
  }

  .u-section-8 .u-text-2 {
    width: 661px;
    margin-top: 6px;
    margin-right: 116px;
    margin-left: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 6px;
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 167px;
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 242px;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    margin-top: -42px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 552px;
}

.u-section-9 .u-image-1 {
  width: 36px;
  height: 36px;
  margin: 60px auto 0 -18px;
}

.u-section-9 .u-image-2 {
  width: 112px;
  height: 16px;
  margin: -26px auto 0 27px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 13px 157px 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -21px 408px 0 auto;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  margin: 32px 366px 0 auto;
}

.u-section-9 .u-text-4 {
  font-size: 0.875rem;
  margin: -123px 32px 0 auto;
}

.u-section-9 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 54px auto 0 -18px;
}

.u-section-9 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-9 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-9 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 32px;
}

.u-section-9 .u-text-5 {
  font-size: 0.875rem;
  font-weight: normal;
  margin: 148px auto 0 -33px;
}

.u-section-9 .u-text-6 {
  font-size: 0.875rem;
  margin: -22px 72px 47px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 336px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 302px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    margin-right: 257px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    margin-right: 193px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 122px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 109px;
  }
}